@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	font-style: normal;
	src: url('/fonts/Poppins-ExtraBold.ttf');
}

:root {
	--background: floralwhite;
	--foreground: #333;
}

* {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-modify: none;
	-webkit-highlight: none;
	user-select: none;
	touch-action: none;
}

html {
	overflow: hidden;
	height: 100vh;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

h2 {
	font-style: italic;
	font-weight: 900;
	font-size: 34px;
	line-height: 1;
}

canvas {
	display: block;
	border: solid 4px #CCC;
	margin: 0 auto;
	position: relative;
	background-color: white;
}

.snake {
	position: relative;
}

.game-over {
	position: absolute;
	inset: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	backdrop-filter: blur(5px);
	gap: 10px;
	padding: 20px;
	background-color: rgba(255, 250, 240, 0.25);
	transition: opacity 0.2s;

	.score {
		font-size: 60px;
		font-weight: 600;
		line-height: 1;
	}

	.best {
		font-weight: 600;
	}

	.score,
	.best,
	.continue,
	h2 {
		position: relative;
		&:before {
			display: block;
			content: '';
			border-radius: 100%;
			background-image: radial-gradient(white, transparent 50%);
			position: absolute;
			z-index: -1;
			top: -50px;
			left: -50px;
			right: -50px;
			bottom: -50px;
		}
	}

	&[data-active="false"] {
		opacity: 0;
		pointer-events: none;
	}
	
}
