@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	font-style: normal;
	src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: italic;
	src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
	--background: beige;
	--foreground: #555;

	@media (prefers-color-scheme: dark) {
		--background: #1C1C1C;
		--foreground: white;
	}

}

* {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-modify: none;
	-webkit-highlight: none;
	user-select: none;
	touch-action: none;
}

html {
  height: 100%;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

canvas {
	display: block;
}

.snake {
	border: solid 10px #CCC;
	position: relative;
	background-color: white;
	transition: all .2s;
	pointer-events: none;

	&[data-preview="true"] {
		border-color: var(--poison);
	}
}

.game-over {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	transition: opacity 0.2s;
	backdrop-filter: blur(5px);
	background-image: linear-gradient(transparent, white, transparent);
	font-size: 10px;

	[data-scale="true"] & {
		font-size: 20px;
	}

	.game-over-body {
		display: flex;
		flex-direction: column;
		gap: 30px;
		text-shadow: 0 0 10px white;
		line-height: 1;
	}

	h1 {
		font-style: italic;
		font-weight: 900;
		font-size: 3.8em;
		text-transform: uppercase;
	}

	.score {
		font-size: 6em;
		font-weight: 600;
		padding-bottom: 5px;
	}

	.best {
		font-size: 2em;
	}

	.continue {
		font-size: 1.8em;
	}

	&[data-active="false"] {
		opacity: 0;
		pointer-events: none;
	}

}

input[type="number"] {
  width: 80px;
  padding: 5px;
  font-size: inherit;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.5);
  .grid-pixel {
    background-color: rgba(255, 255, 255, 0.5);
    &.guide {
      background-color: rgba(255, 0, 0, 0.25);
    }
    &[data-state="wall"] {
      background-color: black;
    }
    &[data-state="coin"] {
      background-color: gold;
    }
  }
}

.inputs {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  select {
    padding: 0 10px;
  }
}

button.copy {
  font-size: inherit;
  color: white;
  font-weight: bold;
  background-color: magenta;
  border: 0;
  padding: 5px 15px;
}
